body {
    margin: 0;
    margin-bottom: 0;
}
p{
    font-family: 'Merriweather', serif;
    width: 500px;
    font-size: 16px;
    color: rgb(55, 55, 55);
    line-height: 27px;
    text-align: center;
    margin: 0;
}

.head-container{
    height: 820px;
    background-color: #E4F9F5;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cloud1 {
    height: 50px;
    position: absolute;
    right: 290px;
    top: 40px;
}

.name-user {
    font-family: sacramento,cursive;
    font-size:90px;
    font-weight: 600;
    color: #66BFBF;
    margin-top: -250px;
 }

.carear {
    font-size:36px;
    font-family: Montserrat, Arial;
    color: #66BFBF;
    margin-top: -30px;
}

.underline{
    text-decoration: underline;
}
.cloud2 {
    height: 50px;
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.mountain-img {
    width: 600px;
    position: absolute;
    bottom: 5px;
    overflow:hidden ;
}


.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px; 
}

.profile-image{
     height: 180px;
     width: 180px;
     object-fit: cover;
     border-radius: 90px;
}   

.headline{
    font-size:40px;
    font-family: Montserrat, Arial;
    color: #66BFBF;  
    width: auto;  
    margin-top: 50px;
    margin-bottom: 60px;
}
.whoami{
    width: 380px;
    margin-bottom: 100px;
}
hr{
    width: 70px;
    border-width: 6px; 
    border-style: dotted none none none;
    border-color: #E4F9F5;
    margin-bottom: 100px;
}






.sided-container{
    margin-bottom: 70px;
    display: flex;
    align-items:center; 
    justify-content: center;
    gap: 40px;    
    width: 70%; 
}

.text-container {
    flex:1;
}
.image-des{
    width:25%;
    border-radius:120px;
}

.section-header{
    font-size:20px;
    font-family: Montserrat, Arial;
    font-weight: 500;
    color: #068787;  
    text-align: start;  
}
.description{
    text-align: start; 
    width: auto;  
}










.contact-container{
    margin-top:-30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.section-header2{
    font-size:17px;
    font-family: Montserrat, Arial;
    font-weight: 500;
    color: #087575;  
    width: auto; 
    margin: 40px 0;       
}

.contact-request{
    margin-left:0px;
    width: 50%;
}


  
button {
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 20px;
    color: white;
    background-color: #11cdd4;
    margin-top:30px;
}
button:hover{
    background-color: #0afedd;  
    transition: background-color 1s;
}
.footer{
    height: 200px;
    width: 100%;
    background-color:#74c8c8;  
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;}

.social-media{
    display:flex;
    flex-direction: row;
    margin-top: -30px;
}
a {
    text-decoration: none;
    color: #33a9a9;
    margin: 20px;
    font-size: 17px;
    font-family: arial, serif;
}
a:hover{
    color: white;
}
.copyright{
    color: white;
    font-size: 12px;
    font-weight: 300;
}
